.bookdetails-globalContainer {
    background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
    background-color: white;
    text-align: center;
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.bookdetails-globalContainer img {
    width: 80%;
    align-self: center;
}

@media screen and (max-width: 900px) {
    .bookdetails-globalContainer {
        align-items: center;
        padding-bottom: 2%;
        width: 100%;
    }
}