.bookList-container{
    padding-top: 4%;
    width: 50%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/021/832/937/large/maxime-colome-colome-maxime.jpg?1573112190");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.book-container {
    padding: 2%;
    font-size: small;
    color: white;
    text-shadow:0 0 3px black;
    text-align: center;
    display: flex;
    flex-direction: column;
    /*justify-content: space-evenly;*/
    width: 25%;
    /*height: 200px;*/
}

@media screen and (max-width: 900px) {
    .bookList-container {
        width: 100%;
    }
}