.bookList-container{
    padding-top: 4%;
    width: 50%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-position: center;
    background-repeat: no-repeat;
}

.book-container {
    padding: 2%;
    font-size: small;
    color: white;
    text-shadow:0 0 3px white;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 25%;
}

.book-container h3{
    width: 100%;
    background-color: black;
}

@media screen and (max-width: 900px) {
    .bookList-container {
        width: 100%;
    }
}